@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "icofont";
  src: url("/assets/fonts/icofont.eot?1sjewr");
  src: url("/assets/fonts/icofont.eot?1sjewr#iefix") format("embedded-opentype"),
    url("/assets/fonts/icofont.ttf?1sjewr") format("truetype"),
    url("/assets/fonts/icofont.woff?1sjewr") format("woff"),
    url("/assets/fonts/icofont.svg?1sjewr#icofont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icofont" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-coffeeBean:before {
  content: "\e900";
}

main {
  min-height: calc(100vh - 96px - 224px);
  margin-top: 96px;
  color: #52453a;
}

.modal:not(dialog:not(.modal-open)) {
  background-color: transparent;
}
